
.event__card  {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &-heading {
    display: flex;

        div:nth-child(1) {
        height: 2px;
        width: 8rem;
        background: $yellow-color;
      }

      div:nth-child(3) {
      height: 2px;
      width: 8rem;
      background: $yellow-color;
    }

      div {
        background: $primary-color;
        font-size: 1.3rem;
        color: $white-text;
        width: 9rem;
        text-align:center;
        transform: skew(-30deg);
      }


  }
}

.card {
  background: $white-text;
  position: relative;
  color: $text-color;
  max-height: 100%;
  width: auto;
  transition: all 1.4s ease-in-out;

  &__body {

    &-title {
      h3 {
        color: $primary-color;
      }
      .title {
        text-align: left;
      }

    }

    &-img {
    }

    &-text {
    //  text-align: center;
     i {
       text-decoration: underline;
     }
     
    }

    &-footer {
      p {
        display: flex;
        flex-flow: row nowrap; 
        justify-content: center;
        align-items: center;
        
         a  i {
          color: $primary-color;
          margin-right: .7em;
          &:hover {
            font-size: 1rem;
            color: $yellow-color;
          }
         }

      }
    }

    
  }
}

.news-image {
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: fill;
}

.short-word {
     white-space: nowrap;
     text-overflow: clip;
       width: 1000px;
       max-height: 400px;
       display: -webkit-box;
       overflow: hidden;
       --webkit-line-clamp: 10;
       --moz-line-clamp: 10;
       --webkit-box-orient: vertical;
       --moz-box-orient: vertical;
}

// ? post Event .....
.post {
  text-align: justify;
  line-height: 1.5;
  text-anchor: end;
}

.section__b {
  background-image: linear-gradient(rgba($primary-color, 0.9),rgba($primary-color, 0.5) ),url("https://res.cloudinary.com/cmcwebcode/image/upload/v1573994942/show_ew1cff.jpg");
  @include pictureConfig(100%,100%) ;
  text-align: center;
  height: 50%;

  &-grid {
   display: grid;
   grid-template-columns: 1fr;
   margin: 0 1.5em;

  


    @include largeScreen() {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 0 2em;
    }
 
  }

}

// ? Article section 

article {
  border: 3px $yellow-color solid;
  max-height: 100%;

  .row {
    border: 3px $white-text solid;
  }

  h3 {
    color: $primary-color;
    margin: .7em 0;
  }
}

.prevoius-news {
  p {
    text-align: left;
    color: $white-text;
    text-decoration: underline;
    margin-bottom: .3em;
   
  }
}

//? comment box 

.comment__box {
  h3 {
    color: $primary-color;
  }

  form {
    width: 85%;
    input[type="text"] {
      width: 100%;
      margin-bottom: .6em;
    }
    textarea {
      width: 100%;
    }
    label {
      color: $primary-color;
    margin-bottom: .6em;
    }
  }
}

//? scroll to top
.scroll__up {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  background: $white-text;
  left: 90%;
  z-index: 3;
  animation: scrollup .5s infinite;

  a {
    text-align: center;

    i {
      margin: 0 .6em;
      
    }
  }
}


//? news page 

.news__page {
  margin: 10rem 3rem ;
  text-align: center;
  box-sizing: border-box;
  width: auto;

  & > div {
    margin-bottom: .3em;
  }

}