@import 'theme';

//* body set-up

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background:$white-text;
    color: #333;
    scroll-behavior: smooth;
}
.body-cover {
    &.hide {
        display: none;
    }
}

.color-success {
    color: $success-color;
    margin: .6em 4em;
}


.color-danger {
    color: $danger-color;
    margin: .6em 4em;
}

.color {
    color: $white-text;
}

.text-primary {
    color: $primary-color;
}

.red {
    color: red;
}

.small-text {
    font-size: .3em;
}


a {
    text-decoration: none;
    color:#333;

}

li {
    list-style: none;
}

//? set picture position

@mixin pictureConfig($set,$set2) 
{
    background-repeat: no-repeat;
    height: $set;
    width: $set2;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    object-fit: fill;
}






//* set Text color based on background
@function set-text-color($color) {
    @if (lightness($color) > 60) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

// *  Setting background and Text color
@mixin set-background($color) {
    background: $color;
    color: set-text-color($color);
}

// * margin & padding
$spaceamount: (1, 2, 3, 4, 5);

@each $space in $spaceamount {

    //* All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .mt-#{$space} {
        margin: #{$space}rem;
    }
    .mb-#{$space} {
        margin: #{$space}rem;
    }
    .mr-#{$space} {
        margin: #{$space}rem;
    }
    .ml-#{$space} {
        margin: #{$space}rem;
    }

    //* vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    //* All around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }
    .pt-#{$space} {
        padding: #{$space}rem;
    }
    .pb-#{$space} {
        padding: #{$space}rem;
    }
    .pr-#{$space} {
        padding: #{$space}rem;
    }
    .pl-#{$space} {
        padding: #{$space}rem;
    }

    //* vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}
