//? general form configuration


form {
  margin: 1em auto;
  width: 60%;

  & > div {
    margin-bottom: .8rem; 
  }

  div label {
    display: block;
    color: $primary-color;
    text-align: left;
    font-weight: bold;
  }

}

input[type ="text"],
input[type ="number"],
input[type ="password"],
textarea[name ="message"]
 {
  width: 100%;
  padding: .4rem;
}


::placeholder {
  font-style: italic;
  color: rgb(86, 88, 86);
}

//? login page

.login__page {
  box-shadow: 0px 3px 4px 2px #ddd;
  width: 100%;


  &-box {

    .login {
      display: block;
    }
    
    form {
      width: 100%;
      label {
        color: $primary-color;
      
        span {
          color: red;
        }
      }
    }
    input {
      margin: .6rem 0 1rem 0;
    }
  }
}

// ? Register Page 

.register {
  width: 80%;
  box-shadow: 3px 2px 3px 2px #ccc;
  margin: 11rem auto;
}



//? contact page 

.contact__page {
  box-shadow: 0px 2px 3px 4px #ccc,
  0px 5px 3px 2px rgb(139, 139, 139);

  &-box {
    margin: 1em auto;
    width: 90%;
      
  }

  &-header {
     text-align: left;
     margin: 1em auto;
     width: 60%;

     h4 {
        font-size: 1.2em;
        margin-bottom: .4em;
     }

     p {
         padding: .2em;
         color: $primary-color; 
         i {
             color: #000;
         }
     }
      
  }

  .shift {
    padding: .2em;
  }
}


// ? Admin Page styling 

.admin__page {
  text-align: center;
  box-shadow: 2px 2px 5px 2px #ccc;
  margin: 7rem 4rem 0 4rem; 

  .heading {
    color: $white-text;
    font-size: 20px;
    background: rgba($primary-color, .7);
    padding: .2em;
  }

  .line {
    background: $primary-color;
    text-align: center;
    margin:  .3em auto;
    
  }


}
.block {
  max-width: 100px;
  word-break: break-all;
  word-wrap: break-word;
}

.gallery-grid,
 {
  display: flex;
  div {
    display: flex;
    flex-flow: column nowrap;

    a {
      display: block;
    }
  }
}

.admin-form {
  textarea {
    padding: 1em;
  }

  input[type="text"] {
    width: auto;
    margin-bottom: .6em;
  }
}

