
//?  Gallery section styling

.gallery {
    width: 100%;
    height: 80%;
    border: solid 1px $primary-color;

   &__inner {
       text-align: center;

       &-flex {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;

          div {
            position: relative;
            margin: .2em;

            p {
              position: absolute;
              overflow: hidden;
              margin: .2em;
            }
          }
          img {
            margin: .4em;
          }
       }
   }
}

// https://res.cloudinary.com/cmcwebcode/image/upload/v1573994942/show_ew1cff.jpg
// ?card grid

.event__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 .5em;
}

@include largeScreen() {
  .event__grid {
    display: grid;
    grid-template-columns: 1.4fr .55fr;
    grid-template-rows: auto;

    &-first {
      display: grid;
      grid-template-columns: .5fr .5fr .5fr;
     //  grid-template-rows: .5fr .5fr .5fr;
      
    }

    &-second {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
 
      
    }
  }


}
