
$mobile: 700px;
$desktop:1000px;
$tablet: 823px;




@mixin phone() {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin largeScreen() {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tab() {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 1rem;
    }
}