.toggle__icon  {
    @include largeScreen{
        display: none;
       
    }
    position: fixed;
    left: 90%;
    top: 3.4%;
    height: 3rem;
    width: 2rem;
    margin: 0.3em .5em 0 0;
    cursor: pointer;
    z-index: 2;

    &-bars {
        display: block;
        background: $primary-color;
        height: 2.5px;
        width: 80%;
        margin-bottom: .4em;
    }
}



.side__navbar {

    position: fixed;
    height: 100vh;
    width: 100%;
    background: $primary-color;
    visibility: hidden;
    z-index: 2;

    div {
        color: $white-text;
        font-size: 36px;
        position: absolute;
        left: 90%;
        top: 3%;
        z-index: 2;

        &:hover {
            border-radius: 50%;
            color: $yellow-color;
            transform: scale(1.4);
            cursor: pointer;

        }

    }

    &.show {
        visibility: visible;
       
    }


    &-content {
        transform: translate3d(0, -100%, 0);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        &.show {
        transform: translate3d(0,0,0);
        }

        a {
            display: block;
            text-decoration: none;
            color: $white-text;
            padding: .7em;
            text-align: center;
            overflow: hidden;

            &:hover {
            border-bottom: 1px $yellow-color solid;
            color:$yellow-color;
            border-bottom-width: .2px;
            }
        }
    }

    &-item {
        transform: translate3d(600px, 0, 0);

        &.show {
            transform: translate3d(0, 0, 0);
            @include ease_in_out (1s)
        }
    }
}

//? Delaying each nav-item slide by 0.2s

@for $x from 1 through 7 {
    .side__navbar-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}
