
//* format colors

// $primary-color: #008736;
// $dark-color: #000000;
// $light-color: #fafafa;
// $danger-color: #dc3545;
// $success-color: #4bb462;
// $box-color: #f2f4f6;
// $white-text: #fff;
// $yellow-color:#fffb00f6;
// $bg-color:#fff;
// $max-width: 1100px;
// $text-color:#333;


//* bootsrtap variables to edit later 

$primary:       #008736;
$secondary:     #fafafa;
$success:       #4bb462 ;
$info:          #17a2b8  ;
$warning:   #fffb00f6  ;
$danger:       #dc3545 ;
$light:         #e9ecef;
$dark:          #343a40;
$white:            #fff;
$black:    #000;


$body-bg:                   #ffff ;
$body-color:              #212529 ;

.primary {
     color: $primary;
}


$border-radius:               1rem ;
$border-radius-lg:            .4rem ;
$border-radius-sm:            .3rem ;

