//* bootsrtap variables to edit later

$primary: #008736;
$secondary: #fafafa;
$success: #4bb462;
$info: #17a2b8;
$warning: #fffb00f6;
$danger: #dc3545;
$light: #e9ecef;
$dark: #343a40;
$white: #fff;
$black: #000;

$body-bg: #ffff;
$body-color: #212529;

.primary {
     color: $primary;
}

$border-radius: 0.7rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.3rem;

html {
     font-size: 80%;
}

::-webkit-scrollbar {
     width: 6px;
     border-radius: 15px;
}

::-webkit-scrollbar-track {
     background-color: $primary;
}

::-webkit-scrollbar-thumb {
     background-color: $warning;
}

::-webkit-scrollbar-thumb:hover {
     background-color: $warning;
}

.img-rounded {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin: 1.2rem 0;
}

.toggle {
     border: none;
}

//* Navbar text

.nav {
     font-weight: 400;
     font-size: 16px;
     color: $primary;

     &:hover {
          color: $primary;
     }
}

//* Landing page....

.section-a {
     position: relative;
     background: linear-gradient(rgba(0, 135, 54, 0.3), rgba(0, 135, 54, 0.4)),
          url("https://source.unsplash.com/user/erondu/1600x900");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-position: center;

     .page {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 3rem 0rem;

          h1 {
               text-align: center;
               font-size: 36px;
               color: $white;
               line-height: 1.7;
               text-shadow: 2px 2px #ccc;
               padding: 2rem 4rem;
          }

          .search-btn {
               display: flex;
               flex-wrap: nowrap;
               border: 1px solid $light;
               justify-content: space-between;
               border-radius: $border-radius;
               background: $white;

               input {
                    border: none;
                    background: none;
                    padding: 0.6rem 6rem;
                    border-radius: $border-radius;

                    &:focus {
                         border: $primary 1px solid;
                         outline: none;
                    }

                    ::placeholder {
                         font-style: italic;
                    }
               }
          }
     }
}

// event page....

.event-grid {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.event-title {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     // margin: 3rem 0;

     div {
          display: flex;
          flex-direction: row nowrap;
          color: $white;
          margin: 3rem 0;

          span {
               height: 3px;
               width: 60px;
               background: $warning;
               margin: auto 1rem;
          }
     }
}

.comment {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     border-top: 1px $light solid;

     div {
          margin: 0.3rem 3rem 1rem 2rem;
          font-size: 20px;
          cursor: pointer;
     }
}

// Articles and trending news section..

.trending {
     display: flex;
     flex-direction: row nowrap;

     img {
          margin: 0 0.5rem 0 0;
     }

     h5 {
          margin: 0 0 0 0.4rem;
     }
}

.trend-header {
     background: $white;
     color: $primary;
     padding: 0.5rem 0.3rem;
     border-top-right-radius: 0.7rem;
     border-top-left-radius: 0.7rem;
}

.trend-box {
     max-width: 85%;
}

.articles {
     border: 3px $warning solid;
     padding: 1.4rem;

     article {
          background: $black;
          color: $white;
          padding: 1.2rem 0.4rem;

          h3 {
               padding: 0rem 0.7rem 0.8rem 0.7rem;
               border-bottom: 1px $light solid;
          }

          p {
               background: $black;
               color: $white;
               padding: 2rem 0.7rem;
               text-align: justify;
          }
     }
}

//Layouts....

.main {
     display: grid;
     grid-template-columns: 1fr;
     align-items: center;

     div {
          max-width: auto;
     }

     .trending-news {
          div {
               margin: 0.3rem 0.3rem;
               border-bottom: 1px $light solid;
          }

          h4 {
               color: $primary;
               margin: 1rem 0 0.5rem 0.8rem;
               padding: 0.2rem 0 0.7rem 0.2rem;
          }
     }
}

//*profiles.......

.profile {
     position: relative;
     height: 70%;

     h2 {
          text-align: center;
     }

     .clip-path {
          clip-path: polygon(0 0, 100% 100%, 74% 100%, 0% 100%);
          position: absolute;
          height: 100%;
          width: 100%;
          background: $light;
     }
}

.card {
     background: $white;
     position: relative;
     color: $black;
     max-height: 80%;
     width: auto;

     &__body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &-title {
               h3 {
                    color: $primary;
                    text-align: center;
               }
          }

          &-text {
               text-align: center;
          }

          &-footer {
               p {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    a i {
                         color: $primary;
                         margin-right: 0.7em;
                         &:hover {
                              font-size: 1rem;
                              color: $warning;
                         }
                    }
               }
          }
     }
}

//* Gallery section...

.gallery-container {
     border-top: 2px solid $primary;
     // width: 100%;
     // height: 100%;
     overflow-y: scroll;

     .gallery {
          margin: 2rem 0.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
}

// .box {
//      height: 100%;
//      width: 100%;
// }

.events-pictures {
     box-shadow: 1px 0px 3px 2px rgb(226, 226, 226);
     // height: 100%;
     // width: 80%;
     border-radius: 0.9rem;
     cursor: pointer;

     h3 {
          color: $white;
          background: $primary;
          padding: 0.3em;
     }
}

.flex-pics {
     display: flex;
     flex-direction: column;
}

.event-box {
     position: relative;
     text-align: center;
     // align-items: center;
     margin: 0.2rem 1rem;
     // padding: 20px;

     .title {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          background-color: rgba($primary, 0.9);
          color: $white;

          span {
               margin-top: 20px;
          }
     }

     &:hover .title {
          display: block;
          transition: all 0.1s ease-out;
     }

     .title {
          display: none;
     }
}

// Error page

.error {
     border-top: 3px $light solid;
}
.error-page {
     main {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 15rem;
          div {
               a {
                    display: block;
                    width: 50%;
               }

               img {
                    margin-top: 5rem;
                    // background-repeat: no-repeat;
                    // background-size: 100% 100%;
                    // background-position: center;
               }

               h2 {
                    margin: 4rem 0 r0em 0;
               }
          }
     }
}

//Pagination...
.pagiination-wrapper {
     p {
          font-size: 1.2rem;
          color: $white;
     }
}
.page-grid {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     margin: 0 0.5rem 0 0;

     li {
          list-style-type: none;
     }
}

// footer

.footer {
     background: $black;
     color: $white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     .main__foot {
          .social__icons {
               &-box {
                    display: flex;
                    flex-flow: row nowrap;
                    p {
                         color: $primary;
                    }
               }
          }

          .form {
               margin: 1rem 0 0 0;
               &__control {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    input[type="text"] {
                         padding: 0.55em 1.2rem;
                         border-top-left-radius: 7px;
                         border-bottom-left-radius: 7px;
                         border: none;
                    }

                    input[type="submit"] {
                         padding: 0.6em;
                         border-top-right-radius: 7px;
                         border-bottom-right-radius: 7px;
                         background: $primary;
                         border: none;
                         color: $white;
                    }
               }
          }
     }
}

.flow {
     margin: 0 0 0rem 0;
}

.text-medium {
     font-size: 1rem;
}

// media Queries......

@media (min-width: 790px) {
     .event-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
     }

     .flex-pics {
          display: flex;
     }
}

@media (min-width: 1003px) {
     .event-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
     }

     .main {
          display: grid;
          grid-template-columns: 1fr 1fr;

          div {
               max-width: 78.333%;
          }
     }
}

@import "~bootstrap/scss/bootstrap.scss";
