// * keyframes

@keyframes scrollup {
     from {
          transform: translateY(-3px);
          transition: all 1s ease-in-out;
     }
     to {
          transform: translateY(3px);
          transition: all 1s ease-in-out;
     }
}

//*****About*****//
.about-anime {
     animation: about 1s forwards;
}

@keyframes about {
     0% {
          transform: scale(0);
          transition: all 0.4s ease-in-out;
          opacity: 0;
     }
     25% {
          transform: scale(0.25);
          transition: all 0.4s ease-in-out;
          opacity: 0.25;
     }
     50% {
          transform: scale(0.5);
          transition: all 0.4s ease-in-out;
          opacity: 0.5;
     }
     75% {
          transform: scale(0.75);
          transition: all 0.4s ease-in-out;
          opacity: 0.75;
     }
     100% {
          transform: scale(1);
          transition: all 0.4s ease-in-out;
          opacity: 1;
     }
}

//*****Card*****//

@keyframes anime {
     from {
          transform: translateX(100px);
          transition: opacity 0.4s ease-out;
          opacity: 0;
     }

     to {
          transform: translateX(0);
          transition: opacity 0.4s ease-out;
          opacity: 1;
     }
}
