//* format colors

//* bootsrtap variables to edit later

$primary: #008736;
$secondary: #fafafa;
$success: #4bb462;
$info: #17a2b8;
$warning: #fffb00f6;
$danger: #dc3545;
$light: #e9ecef;
$dark: #343a40;
$white: #fff;
$black: #000;

$body-bg: #ffff;
$body-color: #212529;

.primary {
     color: $primary;
}

$border-radius: 1.5rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.3rem;
